.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffdd55;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.toggle:hover {
  background: #ffdd55;
}

.toggle:active {
  background: #eab308;
}

@media (min-width: 1279px) {
  .toggle {
    display: none;
  }
}
