.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #fff;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
}

.popup.visible {
  transform: translateX(0);
}

.popup__content .nav-links {
  display: none;
}

.popup__content .nav-link {
  justify-content: center;
}

.popup__content.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 1279px) {
  .popup__content .nav-links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .popup {
    position: absolute;
    top: 59px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s ease;
    box-shadow: none;
    border-radius: 0 0 12px 12px;
    height: 391px;
  }

  .popup.visible {
    max-height: 1000px;
    transform: translateY(0);
  }

  .popup .btn-close {
    display: none;
  }
}
