.btn {
padding: 10px 12px;
height: 40px;
font-weight: 600;
font-size: 15px;
letter-spacing: 0.01em;
text-align: center;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  background: #EAB308;
}

.btn--primary:hover {
  background: #FEC71C;
}

.btn--primary:active {
  background: #CC9500;
}

.btn--secondary {
  background: #2581EB;
}

.btn--secondary:hover {
  background: #439FFF;
}

.btn--secondary:active {
  background: #0763CD;
}